<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/">Jmailer</a>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>Batch</h1>
      <p>Send email from everywhere</p>
      <p><a class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p>You can send email using a file</p>
      <ul>
        <li>Excel</li>
        <li>Calc</li>
        <li>XML</li>
        <li>Json</li>
        <li>Text File</li>
      </ul>
      <p>Contact me for more information</p>
    </div>
  </div>
  <th:block layout:include="fragments/footer"/>
</body>
</html>
