<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="/">Jmailer</a>
  </nav>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Batch</h1>
      <p class="col-md-8 fs-4">Send email from everywhere</p>
      <a th:data-testid="registerHereButton" class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-8">
      <div class="h-100 p-5 text-bg-white rounded-3">
        <p>You can send email using a file</p>
        <ul>
          <li>Excel</li>
          <li>Calc</li>
          <li>XML</li>
          <li>Json</li>
          <li>Text File</li>
        </ul>
        <p>Contact me for more information</p>
      </div>
    </div>
  </div>
  <br>
  <footer class="pt-3 mt-4 text-body-secondary border-top">
    <a class="navbar-brand" href="http://josdem.io">© 2025 - josdem.io</a>
  </footer>
</body>
</html>
