<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="/">Jmailer</a>
  </nav>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Command/Script</h1>
      <p class="col-md-8 fs-4">Send email from everywhere</p>
      <a class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-8">
      <div class="h-100 p-5 text-bg-white rounded-3">
        <p>You can send email using a command line or a script</p>
        <br/>
        <h4>CURL</h4>
        <p>curl is an open source command line tool and library for transferring data with URL syntax</p>
        <p>Request</p>
        <code>curl -H "Content-Type: application/json" -v -X POST -d '{"name":"josdem","email":"joseluis.delacruz@gmail.com","message":"Hello from curl!", "template":"message.ftl","token":"userToken"}' 'https://jmailer.josdem.io/emailer/message'</code>
        <br/><br/><br/>
        <h4>WSLite</h4>
        <p>Lightweight SOAP and REST webservice clients for Groovy</p>
        <code>
          <p style="color:black;"><strong>@Grab</strong>(<font color="green">'com.github.groovy-wslite:groovy-wslite:1.1.2'</font>)</p>
          <p style="color:blue;"><strong>import</strong><font color="black"> wslite.rest.RESTClient</font></p>
          <br/>
          <p style="color:blue;"><strong>def</strong><font color="black"> client = </font><strong>new </strong><font color="black"><strong>RESTClient</strong></font>(<font color="purple">"http://jmailer.josdem.io/emailer/"</font>)</p>
          <p style="color:black;">client.<strong>post</strong>(path:<font color="green">'message'</font>){</p>
          <p style="color:black;">&nbsp;&nbsp;json name:<font color="purple">"josdem"</font>,email:<font color="purple">"joseluis.delacruz@gmail.com"</font>,message:<font color="purple">"Hello from WSLite!"</font>,template:<font color="purple">"message.ftl"</font>,token:<font color="purple">"userToken"</font></p>
          <p style="color:black;">}</p>
        </code>
      </div>
    </div>
  </div>
  <br/>
  <footer class="pt-3 mt-4 text-body-secondary border-top">
    <a class="navbar-brand" href="http://josdem.io">© 2025 - josdem.io</a>
  </footer>
</body>
</html>
