<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Notification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="/vetlog/images/logo.png" alt="Vetlog logo" width="100" height="100" class="d-inline-block align-top">
        Welcome to Vetlog!
      </a>
    </nav>
  </header>
  <h3>You are all set</h3>
  <hr>
  <p>Hello dear ${name}, we are glad to have you</p>
  <p>Now you have an account feel free to: ${message}</p>
  <p>Visit our <a href="https://vetlog.org/privacy/show">privacy policy</a></p>
  <p>Thank you for using Vetlog!</p>
</body>
</html>
