email:
  username: ${EMAIL_USERNAME}
  password: ${EMAIL_PASSWORD}
  subject: Hello from Jmailer!
  contact: joseluis.delacruz@gmail.com
  redirect: https://josdem.io/flyer/jmailer
  whitelist: http://localhost:8080/
  blacklist: 180.76.15.
  homeRequestURL: http://localhost:8080/
  factor: 0.5
  spamTokens:
    - one
  spamNames:
    - one
spring:
  messages:
    basename: i18n/messages
  logging:
    file: jmailer.log
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
api:
  version: 1.0.0
  title: Spring Boot Swagger
  basePackage: com.jos.dem.swagger
  description: Automated JSON API documentation for API's built with Spring
  terms: https://josdem.io/