<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">Jmailer</a>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Send email from everywhere</p>
        <p><a class="btn btn-primary btn-lg" href="contact" role="button">Register Here</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Send it by command-line</h4>
          <p>You can send an email using curl or httpie command, or in a script</p>
          <a class="btn btn-success" href="command-line" role="button">View details</a>
        </div>
        <div class="col-md-4">
          <h4>Send it by form</h4>
          <p>You can send an email using an form in your website</p>
          <a class="btn btn-success" href="form" role="button">View details</a>
        </div>
        <div class="col-md-4">
          <h4>Send it by file</h4>
          <p>You can send an email using a file with your email addresses</p>
          <a class="btn btn-success" href="batch" role="button">View details</a>
        </div>
      </div>
    </div>
    <footer>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a class="navbar-brand" href="http://josdem.io">© josdem.io 2016</a>
      </nav>
    </footer>
  </body>
</html>
